  .container {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .productImage {
    width: 200px;
  }
  
  .productTile {
    background: #eee;
    color: #282c34;
    padding: 0 15px 20px;;
  }
  
  .productBrand {
    display: block;
    font-size: 14px;
    text-align: left;
  }
  
  .productTitle {
    display: block;
    font-size: 17px;
    text-align: left;
    margin: 10px 0;
  }
  
  .productPrice {
    font-size: 14px;
    text-align: left;
  }
  
  .productPrice span {
    margin-left: 5px;
    color: red;
    font-size: 17px;
  }